# Analog Devices Onboard Debug Agent
#
# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2023 Analog Devices, Inc.
# valid frequencies: 5000: 5 MHz

set ADI_VID 0x064B

# Device Name					| PID |
set ADSP_SC594W_USB_EZ_KIT		0x2503
set ADSP_SC598_USB_EZ_KIT		0x2504
set ADSPSC839W_USB_Debug_Agent	0x2507
set ADSP21835W_USB_Debug_Agent	0x2508
set ADSPSC835W_USB_Debug_Agent	0x250A

adapter driver dbgagent
dbgagent_vid_pid $ADI_VID $ADSP_SC594W_USB_EZ_KIT \
				 $ADI_VID $ADSP_SC598_USB_EZ_KIT \
				 $ADI_VID $ADSPSC839W_USB_Debug_Agent \
				 $ADI_VID $ADSP21835W_USB_Debug_Agent \
				 $ADI_VID $ADSPSC835W_USB_Debug_Agent

adapter speed 5000