# Analog Devices Onboard Multi-Processor Debug Agent
#
# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2025-2026 Analog Devices, Inc.
# valid frequencies: 5000: 5 MHz

set ADI_VID 0x064B

# Device Name						| PID |
set MULTIPROCESSOR_USB_Debug_Agent	0x250C

adapter driver mpdbgagent
dbgagent_vid_pid $ADI_VID $MULTIPROCESSOR_USB_Debug_Agent

adapter speed 5000

# Supported transports: jtag only
transport select jtag
