# Copyright (c) 2024 Analog Devices, Inc. All Rights Reserved.
# This software is proprietary to Analog Devices, Inc. and its licensors.

# Define a procedure to find and set the file path
proc findAndSetFile {directory pattern} {
    set files [glob -nocomplain -directory $directory $pattern]

    if {[llength $files] > 0} {
        return [lindex $files 0]
    } else {
        return ""
    }
}

# Get the directory of the current script
set scriptDirectory [file dirname [info script]]