# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (c) 2024 Analog Devices, Inc.

# Set flash parameters
set _NORFLASH_BASE 0x60000000
set _NORFLASH_SIZE 0x8000000
set _NORFLASH_SECTOR_SIZE 0x10000

proc set_algo_paths { inc_file param_file } {
	global NORFLASH_ALGO_PATH NORFLASH_PARAMETER_PATH

	source [find board/flash_algorithms/algoFileFinder.cfg]

	# Find and set the NORFLASH_ALGO_PATH
	set NORFLASH_ALGO_PATH [findAndSetFile $scriptDirectory $inc_file]
	if { [string length $NORFLASH_ALGO_PATH] <= 0} {
		echo "Could not find $inc_file in [file dirname [info script]]"
	}

	# Find and set the NORFLASH_PARAMETER_PATH
	set NORFLASH_PARAMETER_PATH [findAndSetFile $scriptDirectory $param_file]
	if { [string length $NORFLASH_PARAMETER_PATH] <= 0} {
		echo "Could not find $param_file in [file dirname [info script]]"
	}
}
