# Copyright (c) 2024 Analog Devices, Inc. All Rights Reserved.
# This software is proprietary to Analog Devices, Inc. and its licensors.

set NOR_FLASH_ALGO_FILENAME xSPI_NORFlash_Acc_21835.inc
set NOR_FLASH_PARAMETER_FILENAME xSPI_NORFlash_Acc_21835_params.inc

# Define a procedure to find and set the file path
proc findAndSetFile {directory pattern} {
    set files [glob -nocomplain -directory $directory $pattern]

    if {[llength $files] > 0} {
        return [lindex $files 0]
    } else {
        return ""
    }
}

# Get the directory of the current script
set scriptDirectory [file dirname [info script]]

# Find and set the ALGO_PATH
set NOR_FLASH_ALGO_PATH [findAndSetFile $scriptDirectory $NOR_FLASH_ALGO_FILENAME]
if { [string length $NOR_FLASH_ALGO_PATH] <= 0} {
	set ALGO_PATH $NOR_FLASH_ALGO_FILENAME
	echo "Could not find $NOR_FLASH_ALGO_FILENAME in [file dirname [info script]]"
}

set NOR_FLASH_PARAMETER_PATH [findAndSetFile $scriptDirectory $NOR_FLASH_PARAMETER_FILENAME]
if { [string length $NOR_FLASH_PARAMETER_PATH] <= 0} {
	set NOR_FLASH_PARAMETER_PATH $NOR_FLASH_PARAMETER_FILENAME
	echo "Could not find $NOR_FLASH_PARAMETER_FILENAME in [file dirname [info script]]"
}