# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (c) 2024 Analog Devices, Inc.

set NORFLASH_ALGO_FILENAME 2183x_xSPI_NORFlash.inc
set NORFLASH_PARAMETER_FILENAME 2183x_xSPI_NORFlash_params.inc

source [find board/flash_algorithms/algoFileFinder.cfg]

# Find and set the NORFLASH_ALGO_PATH
set NORFLASH_ALGO_PATH [findAndSetFile $scriptDirectory $NORFLASH_ALGO_FILENAME]
if { [string length $NORFLASH_ALGO_PATH] <= 0} {
	set ALGO_PATH $NORFLASH_ALGO_FILENAME
	echo "Could not find $NORFLASH_ALGO_FILENAME in [file dirname [info script]]"
}

set NORFLASH_PARAMETER_PATH [findAndSetFile $scriptDirectory $NORFLASH_PARAMETER_FILENAME]
if { [string length $NORFLASH_PARAMETER_PATH] <= 0} {
	set NORFLASH_PARAMETER_PATH $NORFLASH_PARAMETER_FILENAME
	echo "Could not find $NORFLASH_PARAMETER_FILENAME in [file dirname [info script]]"
}