# Analog Devices ADSP-SC59x (Cortex-A55)
#
# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2020-2026 Analog Devices, Inc.
#
# ADSP-SC59x devices support JTAG transports.
#
#transport select jtag

# Notes:
# <proc_num> = 0 unless there are more than 1 device in the scan chain
# <core_num> is the specified core
#
# Example Command Usage to modify processor specific global variables in default_proc_settings:
# openocd.exe -f interface\ice2000.cfg -f board\ev-sc598-som.cfg -c "set USERKEY0_Proc<proc_num> 12345678"

# Example Command Usage to modify core specific global variables in default_core_settings:
# openocd.exe -f interface\ice2000.cfg -f board\ev-sc598-som.cfg -c "set SKIP_RESET_Proc<proc_num>_Core<core_num> 1"

source [find target/swj-dp.tcl]

set CPU_MAX_ADDRESS 0xFFFFFFFF
source [find bitsbytes.tcl]
source [find memory.tcl]
source [find mem_helper.tcl]
source [find mmr_helpers.tcl]
source [find target/adspsc5xx.tcl]
source [find target/adi_proc_tracker.tcl]
# memory map

set MAP_XML [find target/adspsc59x_memory_map.xml]
set MAP_FILE [open $MAP_XML]
set _MEMORY_MAP [read $MAP_FILE]
close $MAP_FILE

global MEMORY_MAP

# substitute SDRAM_SIZE and FLASH_SIZE
set MEMORY_MAP [subst $_MEMORY_MAP]

# setup _CHIPNAME based on proc number in scan chain if applicable
# Example: adspsc59x_a55_Proc0 for first device in scan chain
# adspsc59x_a55_Proc1 for second device in scan chain, etc...
# target config
if { [info exists CHIPNAME] } {
	set _CHIPNAME [setup_chip_name $CHIPNAME]
} else {
	set _CHIPNAME [setup_chip_name adspsc59x_a55]
}

set core_num 0

if { [info exists USE_BOARD_FILE] } {
	set USE_BOARD_FILE_Proc$::PROCNUM 1
}

# UserKey values can be changed from defaults if necessary
# TAPC_DBG_CTL is the register value for ADI TAPC debug control
# USE_BOARD_FILE enabled board initialization
set default_proc_settings {
	USERKEY0 0x00000000
	USERKEY1 0x00000000
	USERKEY2 0x00000000
	USERKEY3 0x00000000
	TAPC_DBG_CTL 0x31131000
	USE_BOARD_FILE 0
}

# Call the processor procedure with the list of keys and their default values
process_default_proc_settings $default_proc_settings

# SKIP_RESET, as suggests, allows skipping of reset
# ENABLE_CORE_RESET does as suggests
# USE_CTI enables CTI to restart core
set default_core_settings {
	SKIP_RESET 0
	ENABLE_CORE_RESET 0
	USE_CTI 1
}

# CoreSight Debug Access Port (DAP)
if { [info exists DAP_TAPID ] } {
	set _DAP_TAPID $DAP_TAPID
} else {
	set _DAP_TAPID 0x4ba06477
}

jtag newtap $_CHIPNAME cpu -irlen 4 -expected-id $_DAP_TAPID -disable -shared-connection
jtag configure $_CHIPNAME.cpu -event tap-enable "adjc_enable_dap $_CHIPNAME.adjc"

# ADI JTAG Controller
if { [info exists ADJC_TAPID ] } {
	set _ADJC_TAPID $ADJC_TAPID
} else {
	set _ADJC_TAPID 0x0282e0cb
}

jtag newtap $_CHIPNAME adjc -irlen 5 -expected-id $_ADJC_TAPID -shared-connection

# Once the JRC is up, enable our TAPs
jtag configure $_CHIPNAME.adjc -event setup "jtag tapenable $_CHIPNAME.cpu"

# GDB target: Cortex-A5, using DAP

set _APB_AP_ADDR 0x01000000
set _AXI_AP_ADDR 0x02000000

set _TARGETNAME $_CHIPNAME.cpu
dap create $_CHIPNAME.dap -chain-position $_TARGETNAME -adiv6 -shared-connection

# add core information
update_core_info $_TARGETNAME core_num

#
# AXI mem-ap target
#
target create $_CHIPNAME.apb mem_ap -dap $_CHIPNAME.dap -ap-num $_APB_AP_ADDR
target create $_CHIPNAME.axi mem_ap -dap $_CHIPNAME.dap -ap-num $_AXI_AP_ADDR

# Set CSW register value default correctly for AXI accessible device memory:
$_CHIPNAME.dap apsel $_AXI_AP_ADDR
# Clear SPROT
$_CHIPNAME.dap apcsw  0x00006000

$_CHIPNAME.dap apsel $_APB_AP_ADDR

# Call the core procedure with the list of keys and their default values for all cores
process_default_core_settings $default_core_settings $core_num

# Unless USE_CTI_Proc<proc_num>_Core0 is set to 0, CTI is used to restart the Cortex-A5 core
# so system peripherals can be restarted at the same time

cti create $_CHIPNAME.cti -dap $_CHIPNAME.dap -ap-num $_APB_AP_ADDR -baseaddr 0x80024000
target create $_TARGETNAME aarch64 -dap $_CHIPNAME.dap -dbgbase 0x80014000 -cti $_CHIPNAME.cti -ap-num $_APB_AP_ADDR

if { [set "_USE_CTI_Proc${::PROCNUM}_Core0"] != 0 } {
	echo "Halt and restart using CTI for ${_CHIPNAME}_Core0 enabled"
	target smp $_TARGETNAME
} else {
	echo "Halt and restart using CTI for ${_CHIPNAME}_Core0 disabled"
}

# Initialize the eMSI
proc adspsc59x_a55_init_emsi {} {
	set emsi_clk_ctl 0x310C702C

	# Set the Internal Clock Enable bit and wait for clock synchronization
	# *pREG_EMSI0_CLK_CTL |= BITM_EMSI_CLK_CTL_INTERNAL_CLK_EN
	# while(!(*pREG_EMSI0_CLK_CTL & BITM_EMSI_CLK_CTL_INTERNAL_CLK_STABLE))
	pmmw $emsi_clk_ctl 0x1 0x0
	set data [memread32_phys $emsi_clk_ctl]
	while { ![expr {$data & 0x00000002}] } {
		set data [memread32_phys $emsi_clk_ctl]
	}

	# Set the PLL Enable bit and wait for clock synchronization
	# *pREG_EMSI0_CLK_CTL |= BITM_EMSI_CLK_CTL_PLL_EN;
	# while(!(*pREG_EMSI0_CLK_CTL & BITM_EMSI_CLK_CTL_INTERNAL_CLK_STABLE))
	pmmw $emsi_clk_ctl 0x8 0x0
	set data [memread32_phys $emsi_clk_ctl]
	while { ![expr {$data & 0x00000002}] } {
		set data [memread32_phys $emsi_clk_ctl]
	}
}

# default initialization
proc adspsc59x_a55_target_init { chip_name board_file_enabled } {
	echo "Starting target initialization..."
	if { $board_file_enabled == 1 } {
		adspsc59x_a55_init $chip_name
	} else {
		adspsc59x_a55_init_emsi
	}
}

$_TARGETNAME configure -event examine-start {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]

	# get processor specific variables
	global _TAPC_DBG_CTL_Proc$_PROCNUM
	set tap_dbg_ctl [set "_TAPC_DBG_CTL_Proc${_PROCNUM}"]

	# set all bits in TAPC0_DBGCTL to enable all kinds of debug
	mem_ap_write_reg $tap_dbg_ctl 0xFFFF $_CHIPNAME.axi
}

$_TARGETNAME configure -event reset-assert {
	global _CHIPNAME
	global _TARGETNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME $_CHIPNAME.cpu

	# get processor specific variables
	global _USE_BOARD_FILE_Proc$_PROCNUM
	set board_file_enabled [set "_USE_BOARD_FILE_Proc$_PROCNUM"]

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME]
	global _ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]

	# Make sure core is halted before doing any memory acessess
	if {[$_TARGETNAME curstate] == "running" || [$_TARGETNAME curstate] == "debug-running"} {
		halt
	}

	if { $check_enable_core_reset == 1 } {
		adspsc59x_a55_core_reset $_CHIPNAME
	} else {
		adspsc5xx_system_reset $_CHIPNAME
	}

	adspsc59x_a55_target_init $_CHIPNAME $board_file_enabled

	halt
}

$_TARGETNAME configure -event gdb-attach {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME $_CHIPNAME.cpu

	# get processor specific variables
	set board_file_enabled [set "_USE_BOARD_FILE_Proc$_PROCNUM"]

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME]
	set check_skip_reset [set "_SKIP_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]

	if {[$_TARGETNAME curstate] == "running" || [$_TARGETNAME curstate] == "debug-running"} {
		halt
	}

	# read TAPC_IDCODE to get silicon revision
	# silicon revision 0.0 and 0.1 do not support system reset
	set data [mem_ap_read_reg 0x31130000 $_CHIPNAME.axi]

	if { $check_skip_reset == 0 } {
		if { $check_enable_core_reset == 1 } {
			adspsc59x_a55_core_reset $_CHIPNAME
		} else {
			adspsc5xx_system_reset $_CHIPNAME
		}
	}

	adspsc59x_a55_target_init $_CHIPNAME $board_file_enabled

	if { [set "_USE_CTI_Proc${::PROCNUM}_Core0"] != 0 } {
		set cti0_cticontrol		0x31124000
		adspsc5xx_configure_cti $cti0_cticontrol
	}

	arm semihosting enable
}

reset_config trst_only

$_TARGETNAME configure -event reset-assert-post "aarch64 dbginit"

gdb memory_map disable
