# Analog Devices ADSP-SC83x
#
# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (c) 2023-2025 Analog Devices, Inc.

# Notes:
# <proc_num> = 0 unless there are more than 1 device in the scan chain
# <core_num> is the specified core
#
# Example Command Usage to modify processor specific global variables in default_proc_settings:
# openocd.exe -f interface\ice2000.cfg -f board\adspsc835w_ev_som.cfg -c "set USERKEY0_Proc<proc_num> 12345678"

# Example Command Usage to modify core specific global variables in default_core_settings:
# openocd.exe -f interface\ice2000.cfg -f board\adspsc835w_ev_som.cfg -c "set SKIP_RESET_Proc<proc_num>_Core<core_num> 1"

source [find mem_helper.tcl]
source [find target/adspsc8xx.tcl]
source [find target/adi_proc_tracker.tcl]

# setup _CHIPNAME based on proc number in scan chain if applicable
# Example: adspsc83x_Proc0 for first device in scan chain
# adspsc83x_Proc1 for second device in scan chain, etc...
# target config
if { [info exists CHIPNAME] } {
	set _CHIPNAME [setup_chip_name $CHIPNAME]
} else {
	set _CHIPNAME [setup_chip_name adspsc83x]
}

set core_num 0

# UserKey values can be changed from defaults if necessary
# SFX_ATTACHED is a global var indicating that the SHARC-FX core is not attached
# SYSTEM_RESET_COMPLETE indicates a system reset has already been done
# TAPC_DBG_CTL is the register value for ADI TAPC debug control
set default_proc_settings {
	USERKEY0 0x00000000
	USERKEY1 0x00000000
	USERKEY2 0x00000000
	USERKEY3 0x00000000
	USERKEY4 0x00000000
	USERKEY5 0x00000000
	USERKEY6 0x00000000
	USERKEY7 0x00000000
	SFX_ATTACHED 0
	SYSTEM_RESET_COMPLETE 0
	TAPC_DBG_CTL 0x31131000
}

# Call the processor procedure with the list of keys and their default values
process_default_proc_settings $default_proc_settings

# SKIP_RESET, as suggests, allows skipping of reset
# ENABLE_CORE_RESET does as suggests
# USE_CTI enables CTI to restart core
set default_core_settings {
	SKIP_RESET 0
	ENABLE_CORE_RESET 0
	USE_CTI 1
}

# CoreSight Debug Access Port (DAP)
if { [info exists DAP_TAPID ] } {
	set _DAP_TAPID $DAP_TAPID
} else {
	set _DAP_TAPID 0x4ba06477
}

jtag newtap $_CHIPNAME cpu -irlen 4 -expected-id $_DAP_TAPID -disable
jtag configure $_CHIPNAME.cpu -event tap-enable "adjc_enable_dap $_CHIPNAME.adjc"

# ADI JTAG Controller
if { [info exists ADJC_TAPID ] } {
	set _ADJC_TAPID $ADJC_TAPID
} else {
	set _ADJC_TAPID 0x0282c0cb
}

jtag newtap $_CHIPNAME adjc -irlen 5 -expected-id $_ADJC_TAPID

# Once the JRC is up, enable our TAPs
jtag configure $_CHIPNAME.adjc -event setup "jtag tapenable $_CHIPNAME.cpu"

# The following order of target creation must be maintained to allow the SHARC-FX core to
# reset first since the reset routines are called in the same order as the target creation.
# This reset sequence is required for successful SPI flash programming.
# GDB target:  Sharc FX, using DAP
set _TARGETNAME $_CHIPNAME.cpu
dap create $_CHIPNAME.dap -chain-position $_TARGETNAME -adiv6

set _APB_AP_ADDR 0x01000000
set _AXI_AP_ADDR 0x02000000
set _AHB_AP_ADDR 0x03000000

target create $_CHIPNAME.apb mem_ap -dap $_CHIPNAME.dap -ap-num $_APB_AP_ADDR
target create $_CHIPNAME.axi mem_ap -dap $_CHIPNAME.dap -ap-num $_AXI_AP_ADDR
target create $_CHIPNAME.ahb mem_ap -dap $_CHIPNAME.dap -ap-num $_AHB_AP_ADDR

#
# sharc fx xtensa target
#
set _TARGETNAME_SFX $_CHIPNAME.sharcfx
target create $_TARGETNAME_SFX xtensa -dap $_CHIPNAME.dap -dbgbase 0x80014000 -ap-num $_APB_AP_ADDR

# add core information
update_core_info $_TARGETNAME_SFX core_num

$_TARGETNAME_SFX xtensa maskisr on

source [find target/xtensa-core-adspsc83x.cfg]

$_CHIPNAME.dap apsel $_AXI_AP_ADDR
# Clear SPROT
$_CHIPNAME.dap apcsw  0x00006000
$_CHIPNAME.dap apsel $_APB_AP_ADDR

#
# Cortex-M33 target
#
set _TARGETNAME_M33 $_CHIPNAME.m33
target create $_TARGETNAME_M33 cortex_m -dap $_CHIPNAME.dap -ap-num $_AHB_AP_ADDR

# add core information
update_core_info $_TARGETNAME_M33 core_num

# Call the core procedure with the list of keys and their default values for all cores
process_default_core_settings $default_core_settings $core_num

# Unless USE_CTI_Proc<proc_num>_Core0 is set to 0, CTI is used to halt and restart the system
# peripherials whenever the SHARC-FX is halted and restarted
if { [set "_USE_CTI_Proc${::PROCNUM}_Core0"] != 0 } {
	echo "Halt and restart using CTI for ${_CHIPNAME}_Core0 enabled"
	$_TARGETNAME_SFX configure -restart-cti-reg-addr 0x8000d01c -restart-cti-channel 1
}

# Global calls are necessary in any examine/reset events because examine and reset
# are done prior to setting up the cfg files if used directly with openocd

$_TARGETNAME_SFX configure -event examine-start {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]

	# get processor specific variables
	global _TAPC_DBG_CTL_Proc$_PROCNUM
	set tap_dbg_ctl [set "_TAPC_DBG_CTL_Proc${_PROCNUM}"]

	# enable debug
	# [23]- SPIDEN for Cortex M33
	# [22]- SPNIDEN for Cortex M33
	# [21]- NIDEN for Cortex M33
	# [20]- DBGEN for Cortex M33
	# [19]- SPIDEN for SHARC core
	# [18]- SPNIDEN for SHARC core
	# [17]- NIDEN for SHARC core
	# [16]- DBGEN for SHARC core
	# [12]- NIDEN for CTISYS
	# [11]- DBGEN for CTISYS
	# [0] - SPIDEN for DAP
	mem_ap_write_reg $tap_dbg_ctl 0xFF1801 $_CHIPNAME.axi
}

$_TARGETNAME_SFX configure -event reset-assert {
	global _CHIPNAME
	global _TARGETNAME_SFX
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME $_CHIPNAME.cpu

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME]
	global _ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]

	halt
	if { $check_enable_core_reset == 1 } {
		adspsc8xx_sharcfx_core_reset $_CHIPNAME
	} else {
		adspsc8xx_system_reset $_CHIPNAME _SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}
	}
}

$_TARGETNAME_SFX configure -event gdb-attach {
	global _CHIPNAME
	global _TARGETNAME_SFX
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME_SFX $_CHIPNAME.sharcfx

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME_SFX]
	set check_cti [set "_USE_CTI_Proc${_PROCNUM}_Core${_CORENUM}"]
	set check_skip_reset [set "_SKIP_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]

	set fx_cti_base 0x31113000
	set fx_ocd_base 0x31116000

	if {[$_TARGETNAME_SFX curstate] == "running" || [$_TARGETNAME_SFX curstate] == "debug-running"} {
		halt
	}

	if { $check_skip_reset == 0 } {
		if { $check_enable_core_reset == 1 } {
			adspsc8xx_sharcfx_core_reset $_CHIPNAME
		} else {
			adspsc8xx_system_reset $_CHIPNAME _SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}
		}

		# update target state
		poll

		# halt the core
		halt
	}

	if { $check_cti != 0 } {
		adspsc8xx_configure_fx_cti $fx_cti_base $fx_ocd_base
	}

	# let M33 know that the SFX has attached
	set ::_SFX_ATTACHED_Proc$::_PROCNUM 1
}

$_TARGETNAME_M33 configure -event examine-start {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]

	# get processor specific variables
	global _TAPC_DBG_CTL_Proc$_PROCNUM
	set tap_dbg_ctl [set "_TAPC_DBG_CTL_Proc${_PROCNUM}"]

	# enable debug
	# [23]- SPIDEN for Cortex M33
	# [22]- SPNIDEN for Cortex M33
	# [21]- NIDEN for Cortex M33
	# [20]- DBGEN for Cortex M33
	# [19]- SPIDEN for SHARC core
	# [18]- SPNIDEN for SHARC core
	# [17]- NIDEN for SHARC core
	# [16]- DBGEN for SHARC core
	# [12]- NIDEN for CTISYS
	# [11]- DBGEN for CTISYS
	# [0] - SPIDEN for DAP
	mem_ap_write_reg $tap_dbg_ctl 0xFF1801 $_CHIPNAME.axi
}

$_TARGETNAME_M33 configure -event reset-assert {
	# Polling is off during reset by default set in target.c.
	# When attempting to halt, the state is unknown resulting in a warning.
	# Turn polling on in order to retrieve the state before halting the core
	poll on

	# poll the target state
	poll

	# system reset has been performed so the core just has to halt
	halt
}

$_TARGETNAME_M33 configure -event gdb-attach {
	global _CHIPNAME
	global _TARGETNAME_M33
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME_M33 $_CHIPNAME.m33

	# get processor specific variables
	set check_system_reset_complete [set ::_SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}]
	set check_sfx_attached [set "_SFX_ATTACHED_Proc${_PROCNUM}"]

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME_M33]
	set check_skip_reset [set "_SKIP_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]

	set rcu_base	 0x3108c000
	set rcu_msg_set  [expr {$rcu_base + 0x70}]

	if { $check_skip_reset == 0 } {
		if { $check_enable_core_reset == 1 } {
			adspsc83x_m33_core_reset $_CHIPNAME
		} else {
			if { $check_system_reset_complete == 0 } {
				adspsc8xx_system_reset $_CHIPNAME $check_system_reset_complete
			}
		}
	}
	halt

	# Cortex M33 only connection so release the core
	if { $check_sfx_attached == 0 } {
		# [20] - Core 2 Activated
		mem_ap_write_reg $rcu_msg_set 0x00100000 $_CHIPNAME.axi
	}

	arm semihosting enable
}

reset_config trst_only

gdb report_register_access_error enable

# GDB will try to probe the flash if memory map is left enabled
gdb memory_map disable
