# Analog Devices ADSP-SC59x (Cortex-A5 with dual SHARCs)
#
# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2020-2025 Analog Devices, Inc.
#
# ADSP-SC59x devices support JTAG transports.
#
#transport select jtag

# Notes:
# <proc_num> = 0 unless there are more than 1 device in the scan chain
# <core_num> is the specified core
#
# Example Command Usage to modify processor specific global variables in default_proc_settings:
# openocd.exe -f interface\ice2000.cfg -f board\ev-sc594-som.cfg -c "set USERKEY0_Proc<proc_num> 12345678"

# Example Command Usage to modify core specific global variables in default_core_settings:
# openocd.exe -f interface\ice2000.cfg -f board\ev-sc594-som.cfg -c "set SKIP_RESET_Proc<proc_num>_Core<core_num> 1"

source [find target/swj-dp.tcl]

set CPU_MAX_ADDRESS 0xFFFFFFFF
source [find bitsbytes.tcl]
source [find memory.tcl]
source [find mem_helper.tcl]
source [find mmr_helpers.tcl]
source [find target/adspsc5xx.tcl]
source [find target/adi_proc_tracker.tcl]
# memory map

set MAP_XML [find target/adspsc59x_memory_map.xml]
set MAP_FILE [open $MAP_XML]
set _MEMORY_MAP [read $MAP_FILE]
close $MAP_FILE

global MEMORY_MAP

# substitute SDRAM_SIZE and FLASH_SIZE
set MEMORY_MAP [subst $_MEMORY_MAP]

# setup _CHIPNAME based on proc number in scan chain if applicable
# Example: adspsc59x_Proc0 for first device in scan chain
# adspsc59x_Proc1 for second device in scan chain, etc...
# target config
if { [info exists CHIPNAME] } {
	set _CHIPNAME [setup_chip_name $CHIPNAME]
} else {
	set _CHIPNAME [setup_chip_name adspsc59x]
}

set core_num 0

if { [info exists USE_BOARD_FILE] } {
	set USE_BOARD_FILE_Proc$::PROCNUM 1
}

# UserKey values can be changed from defaults if necessary
# TAPC_DBG_CTL is the register value for ADI TAPC debug control
# USE_BOARD_FILE enabled board initialization
set default_proc_settings {
	USERKEY0 0x00000000
	USERKEY1 0x00000000
	USERKEY2 0x00000000
	USERKEY3 0x00000000
	TAPC_DBG_CTL 0x31131000
	USE_BOARD_FILE 0
}

# SKIP_RESET, as suggests, allows skipping of reset
# USE_CTI enables CTI to restart core
set default_core_settings {
	SKIP_RESET 0
	USE_CTI 1
}

# Call the procedure with the list of keys and their default values
process_default_proc_settings $default_proc_settings

# CoreSight Debug Access Port (DAP)
if { [info exists DAP_TAPID ] } {
	set _DAP_TAPID $DAP_TAPID
} else {
	if { [using_jtag] } {
		set _DAP_TAPID 0x4ba00477
	} else {
		set _DAP_TAPID 0x3ba02477
	}
}

jtag newtap $_CHIPNAME cpu -irlen 4 -expected-id $_DAP_TAPID -disable
jtag configure $_CHIPNAME.cpu -event tap-enable "adjc_enable_dap $_CHIPNAME.adjc"

# ADI JTAG Controller
if { [info exists ADJC_TAPID ] } {
	set _ADJC_TAPID $ADJC_TAPID
} else {
	set _ADJC_TAPID 0x028240cb
}

jtag newtap $_CHIPNAME adjc -irlen 5 -expected-id $_ADJC_TAPID

# Once the JRC is up, enable our TAPs
jtag configure $_CHIPNAME.adjc -event setup "jtag tapenable $_CHIPNAME.cpu"

# GDB target:  Cortex-A5, using DAP
set _TARGETNAME $_CHIPNAME.cpu
dap create $_CHIPNAME.dap -chain-position $_TARGETNAME

# add core information
update_core_info $_TARGETNAME core_num

#
# mem-ap targets
#
target create $_CHIPNAME.ahb mem_ap -dap $_CHIPNAME.dap -ap-num 0
target create $_CHIPNAME.apb mem_ap -dap $_CHIPNAME.dap -ap-num 1

target create $_TARGETNAME cortex_a -dap $_CHIPNAME.dap -dbgbase 0x80020000

# Call the core procedure with the list of keys and their default values for all cores
process_default_core_settings $default_core_settings $core_num

# Unless USE_CTI_Proc<proc_num>_Core0 is set to 0, CTI is used to restart the Cortex-A5 core
# so system peripherals can be restarted at the same time
if { [set "_USE_CTI_Proc${::PROCNUM}_Core0"] != 0 } {
	echo "Halt and restart using CTI for ${_CHIPNAME}_Core0 enabled"
	$_TARGETNAME configure -restart-cti-reg-addr 0x3110d01c -restart-cti-channel 1
}

proc adspsc59x_target_init { chip_name board_file_enabled} {
	echo "Starting target initialization..."
	cortex_a dbginit
	if { $board_file_enabled == 1 } {
		adspsc59x_board_init $chip_name
	}
}

# TARGET EVENTS
#
# The following functions are called after the "configuration stage" and within
# the run phase. They are each associated with a different event and perform any
# necessary additional steps required for the event to function.

# Global calls are necessary in any examine/reset events because examine and reset
# are done prior to setting up the cfg files if used directly with openocd

$_TARGETNAME configure -event examine-start {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	
	# get processor specific variables
	global _TAPC_DBG_CTL_Proc$_PROCNUM
	set tap_dbg_ctl [set "_TAPC_DBG_CTL_Proc${_PROCNUM}"]

	# set all bits in TAPC0_DBGCTL to enable all kinds of debug
	mem_ap_write_reg $tap_dbg_ctl 0xFFFF $_CHIPNAME.ahb
}

$_TARGETNAME configure -event reset-assert {
	global _CHIPNAME
	global _TARGETNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _TARGETNAME $_CHIPNAME.cpu

	# Make sure core is halted before trying to reset
	if {[$_TARGETNAME curstate] == "running" || [$_TARGETNAME curstate] == "debug-running"} {
		halt
	}

	adspsc5xx_system_reset $_CHIPNAME
}

$_TARGETNAME configure -event gdb-attach {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME $_CHIPNAME.cpu
	
	# get processor specific variables
	set board_file_enabled [set "_USE_BOARD_FILE_Proc$_PROCNUM"]

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME]
	set check_skip_reset [set "_SKIP_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]
	set check_cti [set "_USE_CTI_Proc${_PROCNUM}_Core${_CORENUM}"]

	set a5_cti_base 0x31128000

	# Halt the core
	if {[$_TARGETNAME curstate] == "running" || [$_TARGETNAME curstate] == "debug-running"} {
		halt
	}

	if { $check_skip_reset == 0 } {
		adspsc5xx_system_reset $_CHIPNAME
	}

	if { $check_cti != 0 } {
		adspsc5xx_configure_cti $a5_cti_base
	}

	adspsc59x_target_init $_CHIPNAME $board_file_enabled

	arm semihosting enable
}

$_TARGETNAME configure -event reset-assert-post {
	global _CHIPNAME
	global _TARGETNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME $_CHIPNAME.cpu
	
	# get processor specific variables
	global _USE_BOARD_FILE_Proc$_PROCNUM
	set board_file_enabled [set "_USE_BOARD_FILE_Proc$_PROCNUM"]

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME]
	global _USE_CTI_Proc${_PROCNUM}_Core${_CORENUM}
	set check_cti [set "_USE_CTI_Proc${_PROCNUM}_Core${_CORENUM}"]

	set a5_cti_base 0x31128000

	# Halt the core
	if {[$_TARGETNAME curstate] == "running" || [$_TARGETNAME curstate] == "debug-running"} {
		halt
	}

	adspsc59x_target_init $_CHIPNAME $board_file_enabled

	if { $check_cti != 0 } {
		adspsc5xx_configure_cti $a5_cti_base
	}
}

reset_config trst_only

gdb memory_map disable
