# Analog Devices ADSP-SC59x (Cortex-A5 with single SHARC)
#
# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (c) 2023-2024 Analog Devices, Inc.

source [find target/adspsc59x.cfg]

proc setup_cores_for_reset {} {
    global _CHIPNAME
    reset_sharcxi_debug_regs $_CHIPNAME.apb 0x80001000
}