# Analog Devices ADSP-SC84x
#
# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (c) 2025 Analog Devices, Inc.

# Notes:
# <proc_num> = 0 unless there are more than 1 device in the scan chain
# <core_num> is the specified core
#
# Example Command Usage to modify processor specific global variables in default_proc_settings:
# openocd.exe -f interface\ice2000.cfg -f target\adspsc84x.cfg -c "set USERKEY0_Proc<proc_num> 12345678"

# Example Command Usage to modify core specific global variables in default_core_settings:
# openocd.exe -f interface\ice2000.cfg -f target\adspsc84x.cfg -c "set SKIP_RESET_Proc<proc_num>_Core<core_num> 1"

source [find mem_helper.tcl]
source [find target/adspsc8xx.tcl]
source [find target/adi_proc_tracker.tcl]

# ADSP-SC84x is a 1.8v target processor
if {[string equal [adapter name] "ice2000"]} {
	ice2000_voltage 1
}

# setup _CHIPNAME based on proc number in scan chain if applicable
# Example: adspsc84x_Proc0 for first device in scan chain
# adspsc84x_Proc1 for second device in scan chain, etc...
# target config
if { [info exists CHIPNAME] } {
	set _CHIPNAME [setup_chip_name $CHIPNAME]
} else {
	set _CHIPNAME [setup_chip_name adspsc84x]
}

set core_num 0

# CONNECT_IN_DND allows user to connect to an already running application
# RUN_AFTER_DETACH runs the cores when detaching instead of keeping them halted
# UserKey values can be changed from defaults if necessary
# USE_CTI enables CTI to restart core
# SKIP_RESET, as suggests, allows skipping of reset
# ENABLE_CORE_RESET does as suggests
# SYSTEM_RESET_COMPLETE indicates a system reset has already been done
# TAPC_DBG_CTL is the register value for ADI TAPC debug control
# A55_C0_ATTACHED is a global var indicating whether A55 core 0 is attached (0 = not attached, 1 = attached)
set default_proc_settings {
	CONNECT_IN_DND 0
	RUN_AFTER_DETACH 0
	USERKEY0 0x00000000
	USERKEY1 0x00000000
	USERKEY2 0x00000000
	USERKEY3 0x00000000
	USERKEY4 0x00000000
	USERKEY5 0x00000000
	USERKEY6 0x00000000
	USERKEY7 0x00000000
	SYSTEM_RESET_COMPLETE 0
	TAPC_DBG_CTL 0x31131000
	A55_C0_ATTACHED 0
}

# Call the processor procedure with the list of keys and their default values
process_default_proc_settings $default_proc_settings

# SKIP_RESET, as suggests, allows skipping of reset
# ENABLE_CORE_RESET does as suggests
# USE_CTI enables CTI to restart core
set default_core_settings {
	SKIP_RESET 0
	ENABLE_CORE_RESET 0
	USE_CTI 1
}

# CoreSight Debug Access Port (DAP)
if { [info exists DAP_TAPID ] } {
	set _DAP_TAPID $DAP_TAPID
} else {
	set _DAP_TAPID 0x5ba06477
}

jtag newtap $_CHIPNAME cpu -irlen 4 -expected-id $_DAP_TAPID -disable
jtag configure $_CHIPNAME.cpu -event tap-enable "adjc_enable_dap $_CHIPNAME.adjc"

# ADI JTAG Controller
if { [info exists ADJC_TAPID ] } {
	set _ADJC_TAPID $ADJC_TAPID
} else {
	set _ADJC_TAPID 0x128390cb
}

jtag newtap $_CHIPNAME adjc -irlen 5 -expected-id $_ADJC_TAPID

# Once the JRC is up, enable our TAPs
jtag configure $_CHIPNAME.adjc -event setup "jtag tapenable $_CHIPNAME.cpu"

# The following order of target creation must be maintained to allow the SHARC-FX core to
# reset first since the reset routines are called in the same order as the target creation.
# This reset sequence is required for successful SPI flash programming.
# GDB target:  Sharc FX, using DAP
set _TARGETNAME $_CHIPNAME.cpu
dap create $_CHIPNAME.dap -chain-position $_TARGETNAME -adiv6

set _APB_AP_ADDR 0x01000000
set _AXI_AP_ADDR 0x02000000

target create $_CHIPNAME.apb mem_ap -dap $_CHIPNAME.dap -ap-num $_APB_AP_ADDR
target create $_CHIPNAME.axi mem_ap -dap $_CHIPNAME.dap -ap-num $_AXI_AP_ADDR

set _TARGETNAME_A55_CORE0 $_CHIPNAME.a55_Core0
# add core information
update_core_info $_TARGETNAME_A55_CORE0 core_num

set _TARGETNAME_SFX $_CHIPNAME.sharcfx
# add core information
update_core_info $_TARGETNAME_SFX core_num

set _TARGETNAME_A55_CORE2 $_CHIPNAME.a55_Core2
# add core information
update_core_info $_TARGETNAME_A55_CORE2 core_num

# Call the core procedure with the list of keys and their default values for all cores
process_default_core_settings $default_core_settings $core_num

# Unless USE_CTI for each core is set to 0, CTI is used to halt and restart the system
# so system peripherals can be restarted at the same time
cti create $_CHIPNAME.cti_Core0 -dap $_CHIPNAME.dap -ap-num $_APB_AP_ADDR -baseaddr 0x80024000
cti create $_CHIPNAME.cti_Core2 -dap $_CHIPNAME.dap -ap-num $_APB_AP_ADDR -baseaddr 0x80025000

target create $_TARGETNAME_A55_CORE0 aarch64 -dap $_CHIPNAME.dap -dbgbase 0x80014000 -cti $_CHIPNAME.cti_Core0 -ap-num $_APB_AP_ADDR

# check CTI usage for each core in processor
if { [set "_USE_CTI_Proc${::PROCNUM}_Core0"] != 0 } {
	echo "Halt and restart using CTI for ${_CHIPNAME}_Core0 enabled"
	target smp $_TARGETNAME_A55_CORE0
} else {
	echo "Halt and restart using CTI for ${_CHIPNAME}_Core0 disabled"
}

target create $_TARGETNAME_SFX xtensa -dap $_CHIPNAME.dap -dbgbase 0x80002000 -ap-num $_APB_AP_ADDR
if { [set "_USE_CTI_Proc${::PROCNUM}_Core1"] != 0 } {
	echo "Halt and restart using CTI for ${_CHIPNAME}_Core1 enabled"
	$_TARGETNAME_SFX configure -restart-cti-reg-addr 0x8000d01c -restart-cti-channel 1
} else {
	echo "Halt and restart using CTI for ${_CHIPNAME}_Core1 disabled"
}

$_TARGETNAME_SFX xtensa maskisr on
source [find target/xtensa-core-adspsc84x.cfg]

target create $_TARGETNAME_A55_CORE2 aarch64 -dap $_CHIPNAME.dap -dbgbase 0x80015000 -cti $_CHIPNAME.cti_Core2 -ap-num $_APB_AP_ADDR
if { [set "_USE_CTI_Proc${::PROCNUM}_Core2"] != 0 } {
	echo "Halt and restart using CTI for ${_CHIPNAME}_Core2 enabled"
	target smp $_TARGETNAME_A55_CORE2
} else {
	echo "Halt and restart using CTI for ${_CHIPNAME}_Core2 disabled"
}

$_CHIPNAME.dap apsel $_AXI_AP_ADDR
# Clear SPROT
$_CHIPNAME.dap apcsw  0x00006000
$_CHIPNAME.dap apsel $_APB_AP_ADDR

# Global calls are necessary in any examine/reset events because examine and reset
# are done prior to setting up the cfg files if used directly with openocd

$_TARGETNAME_A55_CORE0 configure -event examine-start {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]

	# get processor specific variables
	global _TAPC_DBG_CTL_Proc$_PROCNUM
	set tap_dbg_ctl [set "_TAPC_DBG_CTL_Proc${_PROCNUM}"]

	global _CONNECT_IN_DND_Proc$_PROCNUM
	set connect_in_dnd [set "_CONNECT_IN_DND_Proc${_PROCNUM}"]

	# enable debug
	# [19]- SPIDEN for SHARC core
	# [18]- SPNIDEN for SHARC core
	# [17]- NIDEN for SHARC core
	# [16]- DBGEN for SHARC core
	# [12]- NIDEN for CTISYS
	# [11]- DBGEN for CTISYS
	# [4]- SPIDEN for Cortex A55
	# [3]- SPNIDEN for Cortex A55
	# [2]- NIDEN for Cortex A55
	# [1]- DBGEN for Cortex A55
	# [0] - SPIDEN for DAP
	mem_ap_write_reg $tap_dbg_ctl 0xF181F $_CHIPNAME.axi
}

$_TARGETNAME_A55_CORE0 configure -event reset-assert {
	global _CHIPNAME
	global _TARGETNAME_A55_CORE0
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME_A55_CORE0 $_CHIPNAME.a55_Core0

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME_A55_CORE0]
	global _ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]

	# Make sure core is halted before doing any memory acessess
	if {[$_TARGETNAME_A55_CORE0 curstate] == "running" || [$_TARGETNAME_A55_CORE0 curstate] == "debug-running"} {
		halt
	}

	if { $check_enable_core_reset == 1 } {
		adspsc84x_a55_core_reset $_CHIPNAME $_TARGETNAME_A55_CORE0
	} else {
		adspsc8xx_system_reset $_CHIPNAME _SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}
	}
}

$_TARGETNAME_A55_CORE0 configure -event gdb-attach {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME_A55_CORE0 $_CHIPNAME.a55_Core0

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME_A55_CORE0]
	set check_skip_reset [set "_SKIP_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]
	set connect_in_dnd [set "_CONNECT_IN_DND_Proc${_PROCNUM}"]

	if {[$_TARGETNAME_A55_CORE0 curstate] == "running" || [$_TARGETNAME_A55_CORE0 curstate] == "debug-running"} {
		halt
	}

	if { $check_skip_reset == 0 } {
		if { $check_enable_core_reset == 1 } {
			adspsc84x_a55_core_reset $_CHIPNAME $_TARGETNAME_A55_CORE0
		} else {
			adspsc8xx_system_reset $_CHIPNAME _SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}
		}

		# update target state
		poll
	}
	aarch64 dbginit

	# halt the core
	halt

	set a55_cti0base 0x31124000
	if { [set "_USE_CTI_Proc${::PROCNUM}_Core0"] != 0 } {
		adspsc8xx_configure_a55_cti $a55_cti0base
	}
	arm semihosting enable

	# let SHARC FX know that the A55 has attached
	set ::_A55_C0_ATTACHED_Proc$::_PROCNUM 1
}

$_TARGETNAME_A55_CORE0 configure -event reset-assert-post "aarch64 dbginit"

$_TARGETNAME_A55_CORE0 configure -event gdb-detach {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _PROCNUM [lindex $result 1]
	set run_after_detach [set "_RUN_AFTER_DETACH_Proc${_PROCNUM}"]

	if { $run_after_detach == 1 } {
		if {[$_TARGETNAME_A55_CORE0 curstate] != "running"} { resume }
	}
}

$_TARGETNAME_SFX configure -event examine-start {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]

	# get processor specific variables
	global _TAPC_DBG_CTL_Proc$_PROCNUM
	set tap_dbg_ctl [set "_TAPC_DBG_CTL_Proc${_PROCNUM}"]

	# enable debug
	# [19]- SPIDEN for SHARC core
	# [18]- SPNIDEN for SHARC core
	# [17]- NIDEN for SHARC core
	# [16]- DBGEN for SHARC core
	# [12]- NIDEN for CTISYS
	# [11]- DBGEN for CTISYS
	# [4]- SPIDEN for Cortex A55
	# [3]- SPNIDEN for Cortex A55
	# [2]- NIDEN for Cortex A55
	# [1]- DBGEN for Cortex A55
	# [0] - SPIDEN for DAP
	mem_ap_write_reg $tap_dbg_ctl 0xF181F $_CHIPNAME.axi
}

$_TARGETNAME_SFX configure -event reset-assert {
	global _CHIPNAME
	global _TARGETNAME_SFX
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME_SFX $_CHIPNAME.sharcfx

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME_SFX]
	global _ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]

	# Make sure core is halted before doing any memory acessess
	if {[$_TARGETNAME_SFX curstate] == "running" || [$_TARGETNAME_SFX curstate] == "debug-running"} {
		halt
	}

	if { $check_enable_core_reset == 1 } {
		adspsc8xx_sharcfx_core_reset $_CHIPNAME
	} else {
		adspsc8xx_system_reset $_CHIPNAME _SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}
	}
}

$_TARGETNAME_SFX configure -event gdb-attach {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME_SFX $_CHIPNAME.sharcfx

	# get processor specific variables
	set check_system_reset_complete [set ::_SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}]
	set check_a55_c0_attached [set ::_A55_C0_ATTACHED_Proc${_PROCNUM}]

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME_SFX]
	set check_cti [set "_USE_CTI_Proc${_PROCNUM}_Core${_CORENUM}"]
	set check_skip_reset [set "_SKIP_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]

	if {[$_TARGETNAME_SFX curstate] == "running" || [$_TARGETNAME_SFX curstate] == "debug-running"} {
		halt
	}

	if { $check_skip_reset == 0 } {
		if { $check_enable_core_reset == 1 } {
			adspsc8xx_sharcfx_core_reset $_CHIPNAME
		} else {
			if { $check_system_reset_complete == 0 } {
				adspsc8xx_system_reset $_CHIPNAME _SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}
			}
		}
	}
	poll
	halt

	set fx_cti_base 0x31101000
	set fx_ocd_base 0x31104000

	if { $check_cti != 0 } {
		adspsc8xx_configure_fx_cti $fx_cti_base $fx_ocd_base
	}

	# SHARC FX only connection so release the core
	if { $check_a55_c0_attached == 0 } {
		set rcu_base	 0x3108c000
		set rcu_msg_set  [expr {$rcu_base + 0x70}]

		# [19] - Core 1 Activated
		mem_ap_write_reg $rcu_msg_set 0x00080000 $_CHIPNAME.axi
	}
}

$_TARGETNAME_SFX configure -event gdb-detach {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _PROCNUM [lindex $result 1]
	set run_after_detach [set "_RUN_AFTER_DETACH_Proc${_PROCNUM}"]

	if { $run_after_detach == 1 } {
		if {[$_TARGETNAME_SFX curstate] != "running"} { resume }
	}
}

$_TARGETNAME_A55_CORE2 configure -event examine-start {
	# get current chip and define corresponding variables
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]

	# get processor specific variables
	global _TAPC_DBG_CTL_Proc$_PROCNUM
	set tap_dbg_ctl [set "_TAPC_DBG_CTL_Proc${_PROCNUM}"]

	# enable debug
	# [19]- SPIDEN for SHARC core
	# [18]- SPNIDEN for SHARC core
	# [17]- NIDEN for SHARC core
	# [16]- DBGEN for SHARC core
	# [12]- NIDEN for CTISYS
	# [11]- DBGEN for CTISYS
	# [4]- SPIDEN for Cortex A55
	# [3]- SPNIDEN for Cortex A55
	# [2]- NIDEN for Cortex A55
	# [1]- DBGEN for Cortex A55
	# [0] - SPIDEN for DAP
	mem_ap_write_reg $tap_dbg_ctl 0xF181F $_CHIPNAME.axi
}

$_TARGETNAME_A55_CORE2 configure -event reset-assert {
	# get current chip and define corresponding variables
	global _CHIPNAME
	global _TARGETNAME_A55_CORE2
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME_A55_CORE2 $_CHIPNAME.a55_Core2

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME_A55_CORE2]
	global _ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]

	# Make sure core is halted before doing any memory acessess
	if {[$_TARGETNAME_A55_CORE2 curstate] == "running" || [$_TARGETNAME_A55_CORE2 curstate] == "debug-running"} {
		halt
	}

	if { $check_enable_core_reset == 1 } {
		adspsc84x_a55_core_reset $_CHIPNAME $_TARGETNAME_A55_CORE2
	} else {
		adspsc8xx_system_reset $_CHIPNAME _SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}
	}
}

$_TARGETNAME_A55_CORE2 configure -event gdb-attach {
	# get current chip and define corresponding variables
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _CHIPNAME [lindex $result 0]
	set _PROCNUM [lindex $result 1]
	set _TARGETNAME_A55_CORE2 $_CHIPNAME.a55_Core2

	# get processor specific variables
	set check_system_reset_complete [set ::_SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}]
	set check_a55_c0_attached [set ::_A55_C0_ATTACHED_Proc${_PROCNUM}]

	# get core specific variables
	set _CORENUM [get_core_number $_TARGETNAME_A55_CORE2]
	set check_skip_reset [set "_SKIP_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]
	set check_enable_core_reset [set "_ENABLE_CORE_RESET_Proc${_PROCNUM}_Core${_CORENUM}"]
	set connect_in_dnd [set "_CONNECT_IN_DND_Proc${_PROCNUM}"]

	if {[$_TARGETNAME_A55_CORE2 curstate] == "running" || [$_TARGETNAME_A55_CORE2 curstate] == "debug-running"} {
		halt
	}

	if { $check_skip_reset == 0 } {
		if { $check_enable_core_reset == 1 } {
			adspsc84x_a55_core_reset $_CHIPNAME $_TARGETNAME_A55_CORE2
		} else {
			if { $check_system_reset_complete == 0 } {
				adspsc8xx_system_reset $_CHIPNAME _SYSTEM_RESET_COMPLETE_Proc${_PROCNUM}
			}
		}

		# update target state
		poll
	}

	aarch64 dbginit

	# halt the core
	halt

	set a55_cti1base 0x31125000
	if { [set "_USE_CTI_Proc${::PROCNUM}_Core2"] != 0 } {
		adspsc8xx_configure_a55_cti $a55_cti1base
	}
	# A55 core 2 only connection so release the core
	if { $check_a55_c0_attached == 0 } {
		set rcu_base	 0x3108c000
		set rcu_msg_set  [expr {$rcu_base + 0x70}]

		# [20] - Core 2 Activated
		mem_ap_write_reg $rcu_msg_set 0x00100000 $_CHIPNAME.axi
	}

	arm semihosting enable
}

$_TARGETNAME_A55_CORE2 configure -event reset-assert-post "aarch64 dbginit"

$_TARGETNAME_A55_CORE2 configure -event gdb-detach {
	global _CHIPNAME
	set result [get_current_chipname $_CHIPNAME]
	set _PROCNUM [lindex $result 1]
	set run_after_detach [set "_RUN_AFTER_DETACH_Proc${_PROCNUM}"]

	if { $run_after_detach == 1 } {
		if {[$_TARGETNAME_A55_CORE2 curstate] != "running"} { resume }
	}
}

reset_config trst_only

gdb report_register_access_error enable

# GDB will try to probe the flash if memory map is left enabled
gdb memory_map disable
